.home {
    display: flex;
    background: var(--primary);
    min-height: 100vh;
    
    & .content {
        flex: 8;

        & .mainContent {
            padding: 40px;

            & .widgets {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                row-gap: 20px;
                /* padding: 20px; */
            }

            & .stats {
                margin: 40px 0 0;
                display: flex;
                gap: 20px;

            }
        }
    }
}