.home {
    display: flex;

    & .content {
        flex: 8;
        & .homeContent{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 20px;
        }
    }
}