.navbar{
    box-sizing: border-box;
    padding: 20px 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
    border-bottom: 2px solid var(--opcolor) ;
    & .navbarWrap{
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        & .search .srcbox{
            padding: 5px 10px ;
            border: 1px solid gray;
            display: flex;
            align-items: center;
            & input{
                /* padding: 5px 10px ; */
                border: none;
                outline: none;

            }
            & svg{
                font-size: 24px;
            }
        }
        & .items{
            display: flex;
            align-items: center;
            & .languages{
                display: flex;
                align-items: center;
                margin-right: 20px;
                color: var(--text);
                & svg{
                    font-size: 24px;
                }
                & select{
                    padding: 5px  ;
                    border: none;
                    outline: none;
                    & option{
                        padding: 5px 2px;
                    }
                }
            }
            & nav{
                & ul{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    gap: 20px;
                    & li{
                        & >div{
                            position: relative;
                        }
                        & svg{
                            font-size: 24px;
                        }
                        & .countNtf{
                            box-sizing: border-boxs;
                            padding: 5px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 10px; 
                            height: 10px;
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            background-color: red;
                            color: white;
                            font-size: 12px;
                        }
                    }

                }
            }
            & .profile{
                margin-left: 30px;
                width: 50px;
                height: 50px;
                & .photo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    height: 80%;
                    background-color: red;
                    border-radius: 50%;
                }
            }
        }
    }
}

.thememode {

    /* The switch - the box around the slider */
    & .switch {
        display: block;
        --width-of-switch: 3.5em;
        --height-of-switch: 2em;
        /* size of sliding icon -- sun and moon */
        --size-of-icon: 1.4em;
        /* it is like a inline-padding of switch */
        --slider-offset: 0.3em;
        position: relative;
        width: var(--width-of-switch);
        height: var(--height-of-switch);
    }

    /* Hide default HTML checkbox */
    & .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    & .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f4f4f5;
        transition: .4s;
        border-radius: 30px;
    }

    & .slider:before {
        position: absolute;
        content: "";
        height: var(--size-of-icon, 1.4em);
        width: var(--size-of-icon, 1.4em);
        border-radius: 20px;
        left: var(--slider-offset, 0.3em);
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
        ;
        transition: .4s;
    }

    & input:checked+ .slider {
        background-color: #303136;
    }


    & input:checked+ .slider:before {
        left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
        background: #303136;
        /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
        box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
    }
}