@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0;
  padding: 0;
  block-size: border-box;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

#root{
    --font: "Nunito", sans-serif;
    --primary: #000;
    --secondary: #1C1C1E;
    --text: #FFF;
    --opcolor: #2E5EAA;
    --opcolor2: #177E89;

}

